@import "../../styles/_globals.scss";

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // background: linear-gradient(
    //         90deg,
    //         rgba($col-bg, 1) 0%,
    //         rgba($col-bg, 0.8) 100%
    //     ),
    //     url("https://www.orangesmile.com/common/img_city_maps/kherson-map-1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $col-blue;

    .header__title {
        position: absolute;
        font-size: 800%;
        font-weight: 800;
        color: $col-white;
        // transition: 0.3s;

        &:hover {
            cursor: grab;
        }
    }
    .header__subtitle {
        color: $col-accent;
    }
    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
