@import "../../styles/_globals.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-global);
    min-height: 10vh;

    background-color: $col-blue;
    color: $col-white;

    .nav__back_button {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $col-white !important;
        // border-bottom: 3px solid $col-white;
        // border-top: 3px solid $col-white;
        font-weight: 800;
        padding: 10px;
        opacity: 0.8;
        font-size: 90%;
        width: 20ch;

        &:hover {
            opacity: 1;
        }
    }

    .nav__title {
        margin: 0;
        font-weight: 800;
        font-size: 180%;

        &:hover {
            cursor: grab;
        }
    }
}

.nav--fake {
    min-height: 5vh;
    background: $col-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $col-white;
    font-size: 180%;
    font-weight: 800;
    transition: 1s;

    span {
        transition: 1s;
    }
    span::after {
        transform: rotate(100deg);
    }
}
