@import "../../styles/_globals.scss";

.lang_selector {
    padding: 0 var(--padding-global);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $col-accent;
    // border-radius: 0 0 20px 20px;
    // border-radius: 10px;

    h3 {
        color: $col-blue;
        margin: 0;
        font-size: 150%;

        &:hover {
            cursor: grab;
        }
    }

    div {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        margin-left: auto;

        @media screen and (max-width: 601px) {
            $gap: 5px;
            grid-auto-flow: row;
            gap: $gap;
            padding: $gap 0 !important;
            button {
                margin: 0px !important;
            }
        }

        button {
            margin: 10px 0;
            padding: 10px 20px;
            font-weight: 500;
            font-size: 90%;
        }
    }
}
