@import "nprogress";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

:root {
    --padding-global: 20%;
    @media screen and (min-width: 800px) and (max-width: 1000px) {
        --padding-global: 10%;
    }
    @media screen and (min-width: 400px) and (max-width: 800px) {
        --padding-global: 3%;
    }
    @media screen and (max-width: 400px) {
        --padding-global: 1%;
    }
}

a {
    color: inherit;
    text-decoration: none;
    // border-radius: 0.2rem;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

button,
input {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

    &:hover {
        cursor: pointer;
    }
}

.svg-inline--fa {
    transition: 0.5s;
    &:hover {
        cursor: crosshair;
        transform: rotate(360deg);
    }
    &:active {
        transform: rotate(1080deg);
    }
}
