@import "colors";

.nav {
    padding: 1rem 20%;
    align-items: center;
    justify-content: center;
    background-color: rgba($blue, 0.05);

    & > * {
        margin-right: 0.1rem;
        margin-left: 0.1rem;
        transition: transform 0.2s ease-out;
        border-radius: 0.2rem;

        &:hover {
            transform: translateY(0rem) scale(1.05);
            background: rgba($blue, 0.2);
        }
        &:active {
            transform: translateY(0.3rem) scale(0.97);
        }
    }
    .logo {
        justify-self: start;
        margin-right: auto;
        .logo_link {
            border: 0.1rem solid rgba($blue, 1);
        }
    }
}
